
html, body {
    background-color: #F2F0DF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}

#menu-container {
    background-color: #222;
    height: 100%;
    position: fixed;
    text-align: center;
    width: 200px;
}

#menu-container #logo-menu {
    padding-top: 20px;
}

#menu-container #logo-menu img{
    border-radius: 100%;
}

#menu-container #logo-menu #logo-name {
    color: #eee;
    font-size: 15px;
    padding-top: 10px;
}

#menu-container #logo-menu #logo-description {
    color: #bbb;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#menu-container #menu{
    border-top: solid 1px #888;
    border-bottom: solid 1px #444;
    margin: 0px;
    padding: 40px 0px 40px 0px;
}

#menu-container #menu li {
    list-style: none;
    margin: 0px;
    padding: 10px;
}

#menu-container #menu li a {
    color: #FCB95B;
    text-decoration: none;
     transition: all 0.3s;
}

#menu-container #menu li a:hover {
    color: #F5DFCE;
}
/**********MAIN CONTAINER************/

#main-container {
   margin-left: 200px;
   display: inline-block;
   width: 2100px;
}

#main-container .seccion {
    border-right: dotted 1px #ccc;
    display: inline-block;
    padding: 10PX;
    width: 500px;
    height: 600px;
    vertical-align: top;
    overflow: hidden;
    overflow-y: scroll;
}

#main-container .seccion h2 {
    border-bottom: solid 1px #ccc;
    padding: 20px 20px;
}

#seccion-sobreMi {
    text-align: center;
    padding-top: 30px !important;
    margin-left: 20px;
    margin-right: 20px;
    width: 450px !important;
    box-sizing: border-box;
}

#seccion-sobreMi img {
    border-radius: 100%;
}

#seccion-sobreMi p {
    color: #444;
    font-style: italic;
    font-size: 14px;
   
}

.separador {
    background-image: url(../imgs/separador.jpg);
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*************SECCION TRABAJO*************/


#proyectos-container {
    text-align: center;
}

#proyectos-container h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#proyectos-container a .proyecto {
    border: solid 5px white;
    height: 184px;
    width: 420px;
    margin-bottom: 10px;
    padding: 100px 10px 10px 10px;

    box-sizing: border-box;

    transition: all 0.3s;
}
#proyectos-container a .proyecto-redsocial{
    border: solid 5px white;
    height: 300px;
    width: 160px;
    margin-bottom: 10px;
    padding: 100px 10px 10px 10px;
    margin: 20px auto;

    box-sizing: border-box;

    transition: all 0.3s;
}

#proyectos-container .accesos{
    margin-top: 20px;
    text-align: center;
}

#proyectos-container .accesos a{
    color: black;
    padding: 10px 15px;    
    text-decoration: none;
}

#proyectos-container .accesos a:hover{
    color: #FCB95B;
}

#modal .descripcion .cerrar{
    margin-top: 20px;
    text-align: right;
}

#modal .descripcion .cerrar a{
    background: url(../imgs/cerrar.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 18px;
    padding: 10px 28px;
}

#seccion-habilidades {
    display: flex;
    flex-wrap: wrap;
}

#seccion-habilidades .habilidades {
   float: left;

}